//- Подключение макета
extends Views/layouts/default.pug

//- Инициализация переменных для использования в макете
block variables
  - const title = 'SFERA'
  - const description = 'Описание страницы'

//- Подключение индивидуального скрипта страницы
append script
  script(src=require('./main.js') defer)

//- Подключение уникального стиля страницы
append style
  link(href=require('./styles.scss') rel='stylesheet')

block content
  section.section.startups
    .section__wrapper 
      .lead
        .lead__texts  
          h1.lead__title Приглашаем стартапы </br> в SFERA
        
        
          p.lead__text Для действующих стартапов, которые находятся на стадии разработки или уже имеют работающий функционал мы готовы рассмотреть вопрос интеграции в SFERA, </br>при соблюдении следующих условий.
          img.lead__image(src=require('Images/startups-png/iphone_12_pro.png'))
    //- second page
  section.section-two
    .section__wrapper
      .list
        .list__items 
          .list__circles
            .list__circle.number-one 1
            .list__circle.number-two 2
            .list__circle.number-three 3
            .list__circle.number-four 4
          .list__texts
            ul.text-list  
              li.text-list__list-item.text-one Сервис должен быть полезным </br> (развивающим) и оказывать позитивное </br> влияние на оффлайн-жизнь </br> пользователя.
              li.text-list__list-item.text-two У вас есть проработанный макет и </br> концепция (включая полную прорисовку </br> сервиса в Figma, техническое описание- </br> задание), но нет финансовой </br> возможности реализовать сервис.
              li.text-list__list-item.text-three Разработка сервиса в рамках SFERA, </br> обходится в разы дешевле, чем создание </br> отдельного приложения.
              li.text-list__list-item.text-four Вы остаетесь правообладателем своего </br> сервиса и SFERA никак не может и не </br> будет претендовать на Ваш сервис за </br> пределами платформы.
        .list__images
          img.list__image(src=require('Images/startups-png/frame_1619.png'))
    .frame 
      img.frame__image(src=require('Images/startups-png/frame_1586.png'))
      p.frame__text Мы считаем, что многие сервисы, безусловно </br> полезны и нужны пользователям, но зачастую, из - </br> за высокой стоимости разработки или затрат на </br> привлечение пользователя, реализация проектов </br> становится невозможной. В рамках проекта </br> SFERA, в несколько раз снижается стоимость </br> разработки и нет необходимости нести </br> финансовые расходы на маркетинг.
           



          
            
        

       

    

    

