//- Подключение макета
extends Views/layouts/default.pug

//- Инициализация переменных для использования в макете
block variables
  - const title = 'SFERA'
  - const description = 'Описание страницы'

//- Подключение индивидуального скрипта страницы
append script
  script(src=require('./main.js') defer)

//- Подключение уникального стиля страницы
append style
  link(href=require('./styles.scss') rel='stylesheet')

block content
  .section
     .section-about__wrapper
        .section__wrapper_lead
            .section__wrapper_lead-text
                h2.section-about__wrapper_lead--title Проект SFERA — это </br>Платформа приложений
                p.section-about__wrapper_lead--subtitle Также в отношении нас будут корректны термины:</br> супер приложение,</br>  анти социальная сеть.
            .section-about__wrapper_lead-button
                button.section-about__wrapper_lead-button--android Скачать на Android
                  img(src=require('Images/about-images/component-down.svg'))
                button.section-about__wrapper_lead-button--iOs Скачать на iOS
                  img(src=require('Images/about-images/ios.png'))
        .section-about__wrapper_lead-images
            img.section-about__wrapper_lead-img(src=require('Images/about-images/lead-img.png'))
  .section-info
        .section-info__wrapper
            .section-info__wrapper__block
                .section-info__wrapper__block__img
                    img.section-info__wrapper__img(src=require('Images/about-images/info-one.png'))
                .section-info__wrapper__block__text
                     p.section-info__wrapper__block__text-explanation Проект SFERA — это независимый проект, который создает небольшая команда, главная цель которого  — изменить мир к лучшему и начать этот процесс  «с основ», с пользователей, с контента, который  потребляет каждый человек, и с решения задач,  которые не смотря на все технологии, все еще  остаются не решенными.
            .section-info__wrapper__block--reverse
                .section-info__wrapper__block__img
                    img.section-info__wrapper__img(src=require('Images/about-images/info-two.png'))
                .section-info__wrapper__block__text
                    p.section-info__wrapper__block__text-explanation SFERA находится вне политики, вне государственности. Мы считаем своим домом весь  мир и хотим работать на благо всех людей на планете. Для нас не имеет значения язык, на котором говорит человек, цвет кожи, раса и вера. Мы считаем, что наш мир можно сделать лучше и он должен быть лучше. Мы верим, что это  возможно.
            .section-info__wrapper__block
                .section-info__wrapper__block__img
                    img.section-info__wrapper__img(src=require('Images/about-images/info-tree.png'))
                .section-info__wrapper__block__text
                    p.section-info__wrapper__block__text-explanation Проект SFERA — это независимый проект, который создает небольшая команда, главная цель которого — изменить мир к лучшему и начать этот процесс «с основ», с пользователей, с контента, который потребляет каждый человек, и с решения задач, которые не смотря на все технологии, все еще остаются не решенными.

