//- Подключение макета
extends Views/layouts/default.pug

//- Инициализация переменных для использования в макете
block variables
  - const title = 'SFERA'
  - const description = 'Описание страницы'

//- Подключение индивидуального скрипта страницы
append script
  script(src=require('./main.js') defer)

//- Подключение уникального стиля страницы
append style
  link(href=require('./styles.scss') rel='stylesheet')

block content
  section.lead
    .lead__wrapper
      .lead__content
        .lead-text
          h1.lead__title  СКАЧАЙТЕ
            <br> ПРИЛОЖЕНИЕ SFERA
          p.lead__subtitle Присоединяйтесь к нам, давайте
            <br> изменим мир вместе.
          ul.lead__download-links-list
              li.lead__download-links-list-item
                a.lead__download-link.button.button_theme_dark.button_type_android Скачать на Android 
              li.lead__download-links-list-item
                a.lead__download-link.button.button_theme_dark.button_type_ios Скачать на iOS
        .lead__images
          .lead__image__ios
            img.lead__image(src=require("Images/downloads/ios.png"))
          .lead__image__android
            img.lead__image(src=require("Images/downloads/android.png"))




  //- section.lead
  //-   .lead__wrapper
  //-     .lead__container
  //-       .lead__container__text
  //-         h1.lead__title  СКАЧАЙТЕ
  //-           <br> ПРИЛОЖЕНИЕ SFERA
  //-         p.lead__subtitle Присоединяйтесь к нам, давайте
  //-           <br> изменим мир вместе.
  //-         .lead__button
  //-           ul.lead__download-links-list
  //-             li.lead__download-links-list-item
  //-               a.lead__download-link.button.button_theme_dark.button_type_android Скачать на Android 
  //-             li.lead__download-links-list-item
  //-               a.lead__download-link.button.button_theme_dark.button_type_ios Скачать на iOS
  //-       .lead__images
  //-         .lead__image__ios
  //-           img.lead__image(src=require("Images/downloads/ios.png"))
  //-         .lead__image__android
  //-           img.lead__image(src=require("Images/downloads/android.png"))
        